<h3>Textos Litúrgicos</h3>

Assinatura do liturgiacheznous.org.

{% if last_date %}
    Textos correspondentes à : {{ start_date }} até {{ last_date }}
{% else  %}
    Textos correspondentes à data: {{ start_date }}
{% endif %}

