{% extends 'base.html.twig' %}

{% block title %} {% trans %}assembler.title{% endtrans %} {% endblock %}

{% block body %}
    <div class="warning">{% trans %}assembler.warning.no_text_found{% endtrans %}</div>
    <div class="error_detail">{% trans %}form.label.source{% endtrans %} {{ source  }}</div>
    <div class="error_detail">{% trans %}form.label.liturgy_date{% endtrans %} {{ liturgy_date }}</div>
    <div>
        <a href="{{ path('assembler_index') }}">Return</a>
    </div>

    
{% endblock %}
